body {
    background-image: url(background.jpg);
    background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.lose{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background: black;
    border: 3px solid gold;
    color: gold;
}
 .howie{
    float:right;
 }

.select-chest-header{
    text-align: center;
    color: gold;
    background-color: black;
    border: 3px solid gold;
}

.open-chest{
    padding: 10px;
    font-weight:bolder;
    margin: 10px;
    width: 84px;
    height: 106px;
    color: green;
    background: url(open.png);
    text-decoration-line: underline overline;
    font-size: 15px;
    text-shadow: #FC0 1px 0 10px;
    text-decoration-style: wavy;
    border: 0px;

}


.chest :hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

.closed-chest{
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    background: url(briefcase.png);
    width: 85px;
    height: 106px;
    text-align: center;
    border: 0px;
    background-repeat: no-repeat;
}

.selected-chest{
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    background: url(briefcase.png);
    width: 85px;
    height: 106px;
    text-align: center;
    border: 5px solid blue;
}

.case-container{
    margin: auto;
    width: 60%;
    padding: 10px;
    float:left;
}

.header-info-underline{
    color: gold;
}

.navbar{
    color: gold;
}

.top-logo{
    content: url(logo.png);
    width: 60%;
    margin: auto;
}

.deal{
    color: gold;
    text-align: center;
}


.deal-container{
    background-color: black;
    width: 60%;
    margin: auto;
    border: 3px solid gold;
}

#accept-btn{
    width: 100%;
    background-color: black;
    color: gold;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid gold;
    border-radius: 4px;
    cursor: pointer;
}

#accept-btn:hover{
    background-color: rgb(53, 53, 53);
}

.again:hover {
    
    color: white;
    size: 150%
   
   
  }
  #again {
    position:relative;
    left: 125px;
    top: 20px;
}




